<div id="palette-overlay" class="palette-overlay">
  <div class="palette">
    <input
      type="text"
      id="palette-input"
      class="palette-input"
      placeholder="Type a command..."
      autocomplete="off"
      spellcheck="false"
    />
    <ul id="palette-list" class="palette-list" role="listbox"></ul>
  </div>
</div>
