---
import '../styles/global.css';
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Christofel Kevin Manopo - Developer</title>
    <meta name="description" content="Portfolio web dengan tema terminal VSCode." />
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <slot />
  </body>
</html>
